<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - TravelExpertsMVC</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/TravelExpertsMVC.styles.css" asp-append-version="true" />
</head>
<body>



    <header class="p-3 text-bg-dark">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3">
            <div class="container-fluid">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <div style="display: grid; place-items: center;">
                        <img src="/images/logo.png" alt="mdo" width="60" height="60" class="rounded-circle">
                        <label class="nav-link px-2 text-white">TRAVEL EXPERTS</label>
                    </div>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link px-2 text-light @(ViewData["ActiveController"] as string == "Home" && ViewData["ActiveAction"] as string == "Index" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2 text-light @(ViewData["ActiveController"] as string == "Booking" && ViewData["ActiveAction"] as string == "Index" ? "active" : "")" asp-area="" asp-controller="Booking" asp-action="Index">Bookings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2 text-light @(ViewData["ActiveController"] as string == "Home" && ViewData["ActiveAction"] as string == "Login" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2 text-light @(ViewData["ActiveController"] as string == "Home" && ViewData["ActiveAction"] as string == "Register" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2 text-light @(ViewData["ActiveController"] as string == "Home" && ViewData["ActiveAction"] as string == "Contact" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2 text-light @(ViewData["ActiveController"] as string == "Home" && ViewData["ActiveAction"] as string == "Privacy" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Privacy">Profile</a>
                            </li>
                          
                        </ul>
                        <ul class="navbar-nav ms-auto">
						              <partial name="_LoginPartial" />
					              </ul>
                    </div>

                    <!-- Align header-end to the right -->
                    <div class="header-end ms-auto">
                        <button type="button" class="btn btn-outline-light me-2">Login</button>
                        <button type="button" class="btn btn-warning">Sign-up</button>
                        <button type="button" class="btn btn-outline-light me-2">Log out</button>
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/images/man.jpeg" alt="mdo" width="40" height="40" class="rounded-circle">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>



    
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


	<!--<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - TravelExpertsMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
    </footer> -->
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-dark">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="/images/logo.png" alt="mdo" width="60" height="60" class="rounded-circle">
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2024 TravelExperts</span>
        </div>
        <div>
            
        </div>
        <div>
            
        </div>
        <div>
            
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-body-secondary" href="#">
                    <img src="/images/facebook.png"
                         alt="Facebook"
                         height="30"
                         width="30" />
                </a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="#">
                    <img src="/images/instagram.png"
                         alt="Instagram"
                         height="30"
                         width="30" />
                </a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="#">
                    <img src="/images/twitter.png"
                         alt="Twitter"
                         height="30"
                         width="30" />
                </a>
            </li>
        </ul>
    </footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
