@model TravelExpertsData.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Booking Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelersCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelersCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Package)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Package.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripTypeName)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
